// ============================================
//      FONT SIZES
// ============================================

.font-size(@size:11,@font-family:inherit,@color:@color-primary) {
	font-size   : (((16 / 12) * @size) / 16) * 1em;
	font-family : @font-family;
	color       : @color;
}

.font-px-em(@size:22) {
	font-size : (@size / 16) * 1em;
}

// ============================================
//				CSS3
// ============================================
// Transitions
.transition(@speed:@menu-transition-speed, @control:ease-in-out) {
	-webkit-transition : @arguments;
	-moz-transition    : @arguments;
	-c-transition      : @arguments;
	-o-transition      : @arguments;
	transition         : @arguments;
}

.transition(@arguments) {
	-webkit-transition : @arguments;
	-moz-transition    : @arguments;
	-c-transition      : @arguments;
	-o-transition      : @arguments;
	transition         : @arguments;
}

.margin-before(@arguments:0em) {
	-webkit-margin-before : @arguments;
	-moz-margin-before    : @arguments;
	-ms-margin-before     : @arguments;
	-o-margin-before      : @arguments;
	margin-before         : @arguments;
}

.margin-after(@arguments:0em) {
	-webkit-margin-after : @arguments;
	-moz-margin-after    : @arguments;
	-ms-margin-after     : @arguments;
	-o-margin-after      : @arguments;
	margin-after         : @arguments;
}

.margin-start(@arguments:0px) {
	-webkit-margin-start : @arguments;
	-moz-margin-start    : @arguments;
	-ms-margin-start     : @arguments;
	-o-margin-start      : @arguments;
	margin-start         : @arguments;
}

.margin-end(@arguments:0px) {
	-webkit-margin-end : @arguments;
	-moz-margin-end    : @arguments;
	-ms-margin-end     : @arguments;
	-o-margin-end      : @arguments;
	margin-end         : @arguments;
}

.padding-start(@arguments:0px) {
	-webkit-padding-start : @arguments;
	-moz-padding-start    : @arguments;
	-ms-padding-start     : @arguments;
	-o-padding-start      : @arguments;
	padding-start         : @arguments;
}

.transition-duration(@speed:@menu-transition-speed) {
	-webkit-transition-duration : @arguments;
	-moz-transition-duration    : @arguments;
	-ms-transition-duration     : @arguments;
	-o-transition-duration      : @arguments;
	transition-duration         : @arguments;
}

.webkit-overflow(@touch) {
	-webkit-overflow-scrolling : @touch;
	-moz-overflow-scrolling    : @touch;
	-ms-overflow-scrolling     : @touch;
	-o-overflow-scrolling      : @touch;
	overflow-scrolling         : @touch;
}

.transform-origin(@x:50%,@y:50%) {
	-webkit-transform-origin : @arguments;
	-moz-transform-origin    : @arguments;
	-ms-transform-origin     : @arguments;
	transform-origin         : @arguments;
}

.appearance(@arguments) {
	-webkit-appearance : @arguments;
	-moz-appearance    : @arguments;
	-ms-appearance     : @arguments;
	-o-appearance      : @arguments;
	appearance         : @arguments;
}

.box-shadow(@x: 0, @y: 0, @blur: 1px, @color: @color-border) {
	-webkit-box-shadow : @arguments;
	-moz-box-shadow    : @arguments;
	-ms-box-shadow     : @arguments;
	-o-box-shadow      : @arguments;
	box-shadow         : @arguments;
}

.box-shadow(@arguments) {
	-webkit-box-shadow : @arguments;
	-moz-box-shadow    : @arguments;
	-ms-box-shadow     : @arguments;
	-o-box-shadow      : @arguments;
	box-shadow         : @arguments;
}

.perspective(@degrees:1000) {
	-webkit-perspective : @degrees;
	-moz-perspective    : @degrees;
	-ms-perspective     : @degrees;
	-o-perspective      : @degrees;
	perspective         : @degrees;
}

.preserve3D() {
	-webkit-transform-style : flat;
	-moz-transform-style    : flat;
	-ms-transform-style     : flat;
	-o-transform-style      : flat;
	transform-style         : flat;
}

.rotateY(@degrees) {
	-webkit-transform : rotateY(@degrees);
	-moz-transform    : rotateY(@degrees);
	-ms-transform     : rotateY(@degrees);
	-o-transform      : rotateY(@degrees);
	transform         : rotateY(@degrees);
}

.rotate(@degrees) {
	-webkit-transform : rotate(@degrees);
	-moz-transform    : rotate(@degrees);
	-ms-transform     : rotate(@degrees);
	-o-transform      : rotate(@degrees);
	transform         : rotate(@degrees);
}

.translateX(@degrees) {
	-webkit-transform : translateX(@degrees);
	-moz-transform    : translateX(@degrees);
	-ms-transform     : translateX(@degrees);
	-o-transform      : translateX(@degrees);
	transform         : translateX(@degrees);
}

.translate3d() {
	-webkit-transform : translate3d(0, 0, 0);
	-moz-transform    : translate3d(0, 0, 0);
	-ms-transform     : translate3d(0, 0, 0);
	-o-transform      : translate3d(0, 0, 0);
	transform         : translate3d(0, 0, 0);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
.backface-visibility(@visibility) {
	-webkit-backface-visibility : @visibility;
	-moz-backface-visibility    : @visibility;
	-ms-backface-visibility     : @visibility;
	-o-backface-visibility      : @visibility;
	backface-visibility         : @visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip) {
	-webkit-background-clip : @clip;
	-moz-background-clip    : @clip;
	-ms-background-clip     : @clip;
	-o-background-clip      : @clip;
	background-clip         : @clip;
}

.background-size(@arguments) {
	-webkit-background-size : @arguments;
	-moz-background-size    : @arguments;
	-o-background-size      : @arguments;
	background-size         : @arguments;
}

.font-smoothing(@font) {
	-webkit-font-smoothing : @font;
	-moz-font-smoothing    : @font;
	-ms-font-smoothing     : @font;
	-o-font-smoothing      : @font;
	font-smoothing         : @font;
}

// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing : @boxmodel;
	-moz-box-sizing    : @boxmodel;
	-o-sizing          : @boxmodel;
	-ms-sizing         : @boxmodel;
	box-sizing         : @boxmodel;
}

// Opacity
.opacity(@opacity) {
	-o-focus-opacity : @opacity / 100;
	opacity          : @opacity / 100;
	filter           : ~"alpha(opacity=@{opacity})";
}

// ============================================
//				ENABLE/DISABLE MOUSE/TOUCH SELECT
// ============================================

.select-enabled{
	-webkit-touch-callout : default;
	-webkit-user-select   : text;
	-khtml-user-select    : text;
	-moz-user-select      : text;
	-ms-user-select       : text;
	-o-user-select        : text;
	user-select           : text;
}

.select-disabled{
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	-o-user-select        : none;
	user-select           : none;
}

// ============================================
//				MISC HELPERS
// ============================================

.cursor{
	cursor : hand;
	cursor : pointer;
}

// ============================================
//				ROUNDED CORNERS
// ============================================

.border-radius (@radius: 5px) {
	-webkit-border-radius : @radius;
	-moz-border-radius    : @radius;
	-ms-border-radius     : @radius;
	-o-border-radius      : @radius;
	border-radius         : @radius;
}

.top-left-border-radius (@radius: 5px) {
	border-top-left-radius         : @radius;
	-webkit-border-top-left-radius : @radius;
	-moz-border-top-left-radius    : @radius;
	-ms-border-top-left-radius     : @radius;
	-o-border-top-left-radius      : @radius;
}

.top-right-border-radius (@radius: 5px) {
	border-top-right-radius         : @radius;
	-webkit-border-top-right-radius : @radius;
	-moz-border-top-right-radius    : @radius;
	-ms-border-top-right-radius     : @radius;
	-o-border-top-right-radius      : @radius;
}

.bottom-left-border-radius (@radius: 5px) {
	-webkit-border-bottom-left-radius : @radius;
	-moz-border-bottom-left-radius    : @radius;
	-ms-border-bottom-left-radius     : @radius;
	-o-border-bottom-left-radius      : @radius;
	border-bottom-left-radius         : @radius;
}

.bottom-right-border-radius (@radius: 5px) {
	-webkit-border-bottom-right-radius : @radius;
	-moz-border-bottom-right-radius    : @radius;
	-ms-border-bottom-right-radius     : @radius;
	-o-border-bottom-right-radius      : @radius;
	border-bottom-right-radius         : @radius;
}

.oval-corners (@radius: 200px) {
	-webkit-border-radius : @radius;
	-moz-border-radius    : @radius;
	-ms-border-radius     : @radius;
	-o-border-radius      : @radius;
	border-radius         : @radius;
}

.right-oval-corners (@radius: 200px) {
	border-left           : none;
	-webkit-border-radius : 0 @radius @radius 0;
	-moz-border-radius    : 0 @radius @radius 0;
	-ms-border-radius     : 0 @radius @radius 0;
	-o-border-radius      : 0 @radius @radius 0;
	border-radius         : 0 @radius @radius 0;
	margin                : 0;
}

.left-oval-corners (@radius: 200px) {
	border-right          : none;
	-webkit-border-radius : @radius 0 0 @radius;
	-moz-border-radius    : @radius 0 0 @radius;
	-ms-border-radius     : @radius 0 0 @radius;
	-o-border-radius      : @radius 0 0 @radius;
	border-radius         : @radius 0 0 @radius;
	margin                : 0;
}

// ============================================
//				COLUMNS
// ============================================
.column-count(@arguments) {
	-webkit-column-count : @arguments;
	-moz-column-count    : @arguments;
	-c-column-count      : @arguments;
	-o-column-count      : @arguments;
	column-count         : @arguments;
}

.column-gap(@arguments) {
	-webkit-column-gap : @arguments;
	-moz-column-gap    : @arguments;
	-c-column-gap      : @arguments;
	-o-column-gap      : @arguments;
	column-gap         : @arguments;
}

.column-width(@arguments) {
	-webkit-column-width : @arguments;
	-moz-column-width    : @arguments;
	-c-column-width      : @arguments;
	-o-column-width      : @arguments;
	column-width         : @arguments;
}

.break-inside(@arguments) {
	-webkit-column-break-inside : @arguments;
	-moz-column-break-inside    : @arguments;
	-c-column-break-inside      : @arguments;
	-o-column-break-inside      : @arguments;
	column-break-inside         : @arguments;
}