/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

#main{
	margin: 0px 40px;
}

/*
 * RIGHT PANEL
 */
aside {

	display: block;
	overflow: hidden;
	min-height:100%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	min-height: 100%;

	box-shadow: 4px 0 2px #222,  0px 0 4px #222;
}


#right-panel{
//	top        : 50px;
	z-index: 1;
	width      : @asideWidth;
	box-sizing : border-box;
	overflow   : hidden;
	position   : fixed;
	height     : 100%;
	right       : -325px;
	.transition();

	&.display-cart-items{
		right: 0px;
	}


	.nav-content{
		position                   : absolute;
		min-height                 : 100%;
		height                     : 100%;
		width                      : 100%;
		overflow-y                 : auto;
		overflow-x                 : hidden;
		padding-bottom: 100px;
		-webkit-overflow-scrolling : touch;
		> *{
			-webkit-transform : translateZ(0px);
		}
	}

	::-webkit-scrollbar{
		width : 0px;
	}

}


