.cart-items-container{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height      : 50px;
	float       : right;
	color       : #777777;
	cursor      : pointer;
	width       : 220px;


	&:hover{
		color : #5e5e5e;
	}

	.cart-icon, .cart-desc{
		display : inline-block;
		height  : 50px;
		float   : left;
	}
	.cart-icon{
		text-align : center;
		padding    : 7px 0px;
		width      : 50px;

		.glyphicon{
			color     : #777777;
			font-size : 25px;
		}
	}
	.cart-items{
		padding : 5px 0px;
	}
}

.purchase-item{
	display : block;
	height  : 70px;

	.pImage{
		position         : absolute;
		margin           : 5px 5px;
		height           : 50px;
		width            : 50px;
		img {
			height: 100%;
			max-height: 50px;
			max-width: 50px;
			position: relative;
			display: block;
			margin: auto;
		}
	}
	.pDesc{
		padding : 20px 15px 20px 55px;
		height  : 60px;
		color   : #777777;;
		.truncate{
			width: 160px;
		}

		.item-price{
			padding-right : 10px;
		}
		.glyphicon{
			cursor     : pointer;
			color      : red;
			font-size  : 23px;
			margin-top : -5px;
		}
	}
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

#cart-total{
	position    : absolute;
	bottom      : 50px;
	width       : 100%;
	height      : 50px;
	color       : #777777;
	background-color: #f8f8f8;

	padding: 0px 20px;
	hr{
		margin-top    : 0px;
		margin-bottom: 10px;
		border-top: 1px solid #777777;
	}
	font-family : "Big Noodle Titling";
	font-size   : 20px;
}