.panel-plain{
	.border-radius(0px);
	border-color : transparent;
	box-shadow   : none;
	border       : none;
}

.add-toCart{
	position    : absolute;
	top         : 0px;
	text-align  : center;
	font-family : "Big Noodle Titling";
	color       : #c6c6c6;
	font-size   : 25px;
	.transition(opacity 600ms ease-in-out);
	opacity     : 0;
	.glyphicon{
		font-size : 65px;
		display   : block;
		padding   : 15px 50px;
	}
}

.sale-item{
	cursor : pointer;
	&:hover{
		.add-toCart{
			opacity : 1;
		}
	}
}

.img-container{
	position         : absolute;
	height           : 140px;
	width            : 160px;

	img{
		height     : 100%;
		max-height : 140px;
		max-width  : 160px;
		position   : relative;
		display    : block;
		margin     : auto;
	}
}

.item-description{

	.item-header{
		.title{
			font-family : Big Noodle Titling;
			font-size   : 22px;
		}
		.author{
			font-weight : bold;
			font-size   : 13px;
		}
		.type{
			font-size : 11px;
			color     : #a7a7a7;
		}
	}

	padding-left : 170px;
	font-size    : 10px;
	height       : 140px;
}