.custom-search-box{

	.input-group-btn{
		.btn{
			.border-radius(50px 0px 0px 50px);
			&:focus { outline: none; }
		}
		.btn-default{
			border-right: none;
			.box-shadow(none);
			&:active,&:hover,&:visited,&:focus{
				color: #333333;
				background-color: #fff;
				border-color: #a7a7a7;
				border-right: none;
				.box-shadow(none);
			}
		}
		+.form-control{
			border-left: none;
			padding: 6px 12px 6px 0px;

			&:active,&:hover,&:visited,&:focus{
				border-left: none;
			}

			.border-radius(0px 50px 50px 0px);
			&:focus {
			border-color: #cccccc;
			outline: none;
			.box-shadow(none);
			}
		}
	}
}

.search-box-desc,.custom-search-box{
	margin: 10px 0px 20px;
}
.search-box-desc{
	font-size: 12px;
	color: #a7a7a7;
}