<div class="nav-content app-content">
	<div class="purchase-item" data-ng-repeat="item in cartItems">
		<div class="pImage">
			<img src="http://homework.powerdms.com/{{item.imageUri}}" alt="{{item.title}}" />
		</div>
		<div class="pDesc">
			<span class="glyphicon glyphicon-remove-circle pull-right" data-ng-click="itemRemove(item, $index)"></span>
			<span class="truncate" data-ng-bind="item.title"></span>
			<span class="item-price pull-right" data-ng-bind="item.price | currency">$0.00</span>
		</div>
	</div>
</div>

<div id="cart-total">
		<hr>
		<div>
			<span>Total:</span>
			<span class="pull-right" data-ng-bind="cartTotal | currency">$0.00</span>
		</div>
</div>