<div class="row">
	<div class="col-xs-3">
		<div class="custom-search-box">
			<div class="input-group ">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				<input type="text" class="form-control" data-ng-model="query" placeholder="Search">
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<div class="search-box-desc">
			Use the search box to search for products. You can also search on the types of products, like "book," or "movie"
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-4" data-ng-repeat="item in shelves | filter:query">
		<div class="panel panel-default panel-plain sale-item" data-ng-click="addToCart(item, $index)">
			<div class="img-container">
				<img src="http://homework.powerdms.com{{item.imageUri}}" alt="{{item.title}}" />
			</div>
			<div class="item-description">
				<div class="item-header">
					<div class="title"><span data-ng-bind="item.title"></span> <span class="pull-right" data-ng-bind="item.price | currency"></span></div>
					<div class="author" data-ng-bind="item.author"></div>
					<div class="type" data-ng-bind="item.type"></div>
				</div>
				<div class="item-body" data-ng-bind="item.description|truncate:147"></div>
			</div>
			<div class="add-toCart">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				Add to Cart
			</div>
		</div>
	</div>
</div>